*.vsidx
MauiAPP/.vs/MauiAPP/DesignTimeBuild/.dtbcache.v2
MauiAPP/.vs/MauiAPP/v17/.futdcache.v2
MauiAPP/.vs/MauiAPP/v17/.suo
MauiAPP/.vs/MauiAPP/v17/DocumentLayout.backup.json
MauiAPP/.vs/MauiAPP/v17/DocumentLayout.json
MauiAPP/.vs/ProjectEvaluation/mauiapp.metadata.v9.bin
MauiAPP/.vs/ProjectEvaluation/mauiapp.projects.v9.bin
MauiAPP/.vs/ProjectEvaluation/mauiapp.strings.v9.bin
